<div class="container pt-12px text-right">
    <div class="flex-1"></div>
    <span class="welcome">Merhaba, </span>
    <span class="user-firstname">Ergin</span>

    <button class="basket-btn">
        <img src="assets/basket-white.png" class="basket-icon">
        Sepetims
        <div class="button-right">
            1
        </div>
    </button>

    <select>
        <img src="assets/tr-flag.png">
        <option value="0">Türkçe
        </option>
        <option value="1">İngilizce
        </option>
    </select>
</div>