<div class="container text-center">
    <p class="title">Kampanyalar</p>
    <div id="imagesWrapper" (click)="next()" class="images-wrapper">
        <img class="campaign-img" src="assets/campaign-1.png">
        <img class="campaign-img center-img" src="assets/campaign-2.png">
        <img class="campaign-img" src="assets/campaign-3.png">
        <img class="campaign-img" style="margin-left: 2.5rem;" src="assets/campaign-1.png">
        <img class="campaign-img center-img" src="assets/campaign-2.png">
        <img class="campaign-img" src="assets/campaign-3.png">
    </div>

    <button class="view-all-btn">
        Tümünü Gör
        <div class="button-right">
            <img src="assets/arrow-right.png" class="arrow-icon">
        </div>
    </button>
</div>