<div class="modules-wrapper">
    <mg-top-bar></mg-top-bar>
    <mg-banner></mg-banner>
    <mg-image-slider></mg-image-slider>
    <mg-logo-slider></mg-logo-slider>
    <mg-categories></mg-categories>
    <mg-campaigns></mg-campaigns>
    <mg-best-seller></mg-best-seller>
    <mg-picks-for-you></mg-picks-for-you>
    <mg-shopping-progress></mg-shopping-progress>
    <mg-market-places></mg-market-places>
    <mg-advertisement></mg-advertisement>
    <mg-footer></mg-footer>
    <mg-footer-bottom></mg-footer-bottom>
</div>