<div class="container">
    <div class="banner-wrapper">
        <img src="assets/banner-logo.png">
        <div class="menu-wrapper">
            <span class="banner-menu">
                <img src="assets/campaignes-icon.jpg" class="campaigns-icon">
                Kampanyalar
            </span>
            <span class="banner-menu">
                <img src="assets/blog-icon.jpg" class="blog-icon">
                Blog
            </span>
            <span class="banner-menu">
                <img src="assets/catalog-icon.jpg" class="catalog-icon">
                Katalog
            </span>

            <button class="all-categories-btn">
                Tüm Kategoriler
            </button>

        </div>

        <div class="flex-1"></div>
        <div class="position-relative">
            <img src="assets/search-icon.png" class="search-icon">
            <input placeholder="Site içinde arama yapın...">
        </div>
    </div>
</div>