<div class="container h-100">
    <div class="d-flex h-100">
        <div class="left-section h-100 d-flex align-items-center">
            <span class="title">KVKK</span>
            <span class="title">Mesafeli Satış Sözleşmesi</span>
            <span class="title">Üyelik Sözleşmesi</span>
        </div>

        <div class="flex-1"></div>

        <div class="center-section d-flex align-items-center">
            <span class="copyright-text">© Copyright Greyfood</span>
        </div>

        <div class="flex-1"></div>

        <div class="right-section h-100 d-flex align-items-center">
            <img src="assets/masterpass.png">
            <img class="mx-3" src="assets/paypal.png">
            <img src="assets/dbank.png">
        </div>
    </div>

</div>