<div class="container">
    <div class="market-places-wrapper">
        <img src="assets/app-store.png" class="market-place-img">
        <img src="assets/google-play.png" class="market-place-img center-img">
        <img src="assets/huawei-store.png" class="market-place-img">

        <div class="description-wrapper">
            <p class="title">Dünya Markaları Cebinizde!</p>
            <p class="content">Mobil Uygulamanızı indirin, her yerden kolay alışveriş imlanı sağlayın.</p>
            <p class="content">QQ kodu okut uygulamayı hemen indir.</p>

            <img src="assets/qr.png" class="qr-img">

        </div>
    </div>

</div>
<div class="market-places-bg"></div>