<div class="container text-center">
    <p class="title">Sizin İçin Seçtiklerimiz</p>
    <div id="picksWrapper" (click)="next()" class="picks-wrapper">
        <img class="picks-for-you-img" src="assets/picks-for-you-1.png">
        <img class="picks-for-you-img center-img" src="assets/picks-for-you-2.png">
        <img class="picks-for-you-img" src="assets/picks-for-you-3.png">
        <img class="picks-for-you-img" style="margin-left: 2.5rem;" src="assets/picks-for-you-1.png">
        <img class="picks-for-you-img center-img" src="assets/picks-for-you-2.png">
        <img class="picks-for-you-img" src="assets/picks-for-you-3.png">
    </div>
</div>